.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 2s alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}
.global-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container {
  min-height: 75vh;
  max-height: 100%;
  min-width: 75vh;
  max-width: 100%;
}

.container-own {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px !important;
  font-family: "Roboto", sans-serif;
  padding: 20xp;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.container-own:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.full-width{
  min-width: 97%;
  margin: 20px;
}

.checkout-card {
  max-width: 98% !important;
  min-width: 75%;
  padding: 10px;
}

.nav-link {
  padding: .1rem 1rem !important;
  color: white;
}

.nav-link:hover {
  color: #ddd;
}

.nav-is-active {
  border-bottom: solid white 1px;
  margin-bottom: 0.2rem;
}

.buttons {
  background-color: #f3f3f3;
  padding: 1vh;
}

.short{
  max-width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

#backend-error {
  color: red;
}